
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display+SC:ital@0;1&display=swap');
*{
     margin: 0;
     padding: 0;
     box-sizing: border-box;
}
img{
     max-width: 100%;
}
.flex{
     display: flex;
     align-items: center;
     justify-content: center;
}
.text{
    font-family: 'Playfair Display SC';
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 24px;
    color: #967675;
}
.wrapper{
     max-width: 1180px;
     margin: 0 auto;
     height: 100vh;
     background-image: url("../img/header/grid.png");
     background-repeat: repeat;
     background-size: cover;
}
.title{
     font-family: 'Playfair Display SC', serif;
     font-style: normal;
     font-weight: bold;
     font-size: 61px;
     width: 828px;
}
.header{
     text-align: center;
     padding-top: 30px;
     margin-bottom: 225px;
}
.header-menu{
     text-align: center;
}
.header-title{
     margin: 30px 0 25px ;
}  
.header-item{
     display: flex;
     margin:  0 auto;
     margin-left: 168px;

}
.header-link{
     text-decoration: none;
     margin: 65px;
     font-family: 'Poppins';
     font-style: normal;
     font-weight: normal;
     font-size: 16px;
     line-height: 32px;
     color: #23242C;
     font-weight: 700;
}
span{
     font-style: 10px;
}
.header-list{
     list-style: none;
}
.content{
     margin: 165px 0 253px;
     display: flex;
     justify-content: space-between;
     position: relative;
}
.content-info{
  
    
     justify-content: flex-start;
}
.content-circle{
        position: absolute;
    left: 51%;
    top: 7px;
}
.content-cilrcle{
    position: absolute;
    left: 59%;
    top: 92px;
}
.content-button{
     border: 2px solid #967675;
     padding: 18px 47px;
     max-width: 185px;
     background-color: white;
     color: #967675;
     outline: none;
     cursor: pointer;
     border-radius: 4px;
     box-shadow: 0 8px 34px rgba(150, 78, 76, 0.32);

}

.content-suptitle{
     font-family: "Poppins";
     font-style: normal;
     font-weight: 300;
     font-size: 16px;
     line-height: 24px;
     color: #967675;
}
.content-boys{
     position: absolute;
     left: 70%;
     top: -80px;
     transition: 2s;
}
.content-boys:hover{
     z-index: 1;
}
.content-grils:hover{
     transform: scale(1.2);
     z-index: 7;
}

.reviews-title{
    font-family: 'Playfair Display SC', serif;
     font-style: italic;
     font-weight: normal;
     font-size: 38px;
     line-height: 51px;
     text-align: center;
     color: #111111;
}
.reviews-text{
     font-family:" Poppins";
     font-style: normal;
     font-weight: normal;
     font-size: 16px;
     line-height: 165.9%;
     color: #9D8888;
     width: 233px;
}
.content-reviews{
     margin-left: 100px;
     display: flex;
     justify-content: flex-start;
     flex-direction: column;
}

/* ========range===================== */

.range{
     text-align: center;
}


.range-text{
      font-family: 'Poppins';
     font-style: "Itali";
     font-size : 18px;
     color:#967675;
}
.range-right{
     background-color: #F6ECE8;
}
